:root {
    --primary-color: #3D348B;
    --secondary-color: #201C4A;
    --accent1-color: rgba(125, 96, 129, 1.1);
    --accent2-color: #066C31;
    --font1-family: "DM Serif Text", serif;
    --font2-family: "Flavors", cursive;
}

.wraper {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto 1fr;
    grid-gap: 30px;
    background-color: var(--secondary-color);
    transition: 0.3s ease;
    border: 1.5px solid rgb(101, 100, 100);
    margin: 0;
    width: 100%;
}

.background img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    display: block;
    max-width: auto;
    height: auto;
}

header img {
    max-width: auto;
    height: auto;
}

header nav {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: auto;
}
   
header nav a {
    font-size: 3.5rem;
    font-family: var(--font2-family);
    font-weight: 500;
    color: white;
    padding-right: 3rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

header nav a {
    text-decoration: none;
}

header:hover {
    background-color: var(--accent1-color);
}

header a:hover {
    transform: scale(0.8);
    color: rgb(8, 8, 8);
}

.hero {
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), white), url('images/homehero.webp') no-repeat center center;
    background-size: cover;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 3rem;
    border: 1.5px solid rgb(113, 114, 113);
    box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.8);
}

h1 {
    position: absolute;
    top: 7rem;
    left: 0;
    right: 0;
    color: white;
    background-color: var(--primary-color);
    opacity: .8;
    font-size: 5rem;
    font-family: var(--font1-family);
    font-weight: 100;
    text-align: center;
    padding: 1.5rem;
}

.grid-box {
    position: absolute;
    top: 65rem;
    left: 18rem;
    right: 10rem;
    right: 10rem;
    color: black;
    background-color: white;
    opacity: 0.6;
    font-size: 4rem;
    transition: font-size 0.3s ease;
    font-family: var(--font1-family);
    font-weight: 100;
    text-align: center;
    isolation: isolate;
}

.grid-box nav a {
    color: var(--accent1-color);
    text-decoration: none;
}

.action, .grid-nav {
    position: absolute;
    top: 15rem;
    left: 20rem;
    color: black;
    background-color: rgba(30, 30, 83, 0.7);
    font-size: 4rem;
    transition: font-size 0.3s ease;
    font-family: var(--font1-family);
    font-weight: 100;
    text-align: center;
    padding: 1rem;
}

.action a, nav {
    color: white;
}

.action nav:hover {
    font-size: 3rem;
    color: blue;
}

article {
    position: absolute;
    top: 30rem;
    left: 8rem;
    right: 17rem;
    opacity: .8;
}

article img {
    float: right;
    max-width: 12rem;
    height: auto;
    margin: 2rem 1rem 0 3rem;
    padding: 3rem;
}

article p {
    color: white;
    font-size: 1rem;
    font-family: var(--font1-family);
    font-weight: 100;
    padding: 5rem;
    background-color: var(--secondary-color);
}

.reservation-box {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

table {
    grid-column: 1;
    position: absolute;
    top: 20rem;
    left: 10rem;
    border-collapse: colapse;
}

table {
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 1.6rem;
    text-shadow: .5px .5px 1px rgb(12, 12, 12);
    letter-spacing: 1px;
    background-color: rgba(84, 104, 155, 0.8);
    color: rgb(38, 39, 41);
    background-color: rgb(0, 0, 0, 0.6);
    color: rgb(237, 233, 233);
    box-shadow: 5px 5px 15px black;
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

thead,
tfoot {
    background-color: rgba(125, 96, 129, 0.8);
  }

  th,
  td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
  }

th,
td {
    border: 3px solid black;
    padding: 30px 5px;
}


td:last-of-type {
    text-align: center;
}


tfoot th {
    text-align: right;
  }


tfoot td {
    font-weight: bold;
}

.card-2 article img {
    position: absolute;
    flex-direction: column;
    grid-column: 2;
    width: 200px;
    height: auto;
    padding: 0;
    margin: 2rem;
    border: 1px solid black;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
}

.information {
    position: relative;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
}

.reservation-box {
    position: absolute;
    left: 20%;
    top: 70rem;
    width: 80%;
    margin-left: 0;
    margin-right: 0;
    font-size: 3rem;
    font-weight: 600;
    color: white;
    text-shadow: 1px 1px 3px black;
    white-space: nowrap;
    text-decoration: none;
}

.reservation-box a {
    font-size: 4rem;
    font-weight: 600;
    color: rgb(98, 95, 95);
    text-shadow: 1px 2px 4px white;
    display: inline-block;
    text-decoration: none;
}

.reservation-box a:hover {
    animation: lr 0.5s ease 2;
    cursor:default;
}

@keyframes lr {
    0%{transform:translateX(0)}
    33%{transform:translateX(-15px)}
    66%{transform:translateX(15px)}
    100%{transform:translateX(0)}
}


.information {
    color: black;
    background-color: var(--primary-color);
    width: auto;
    margin-top: 3rem;
    border: 1.5px solid black;
    box-shadow: 2px 2px 5px black;
}

.information h2 {
    position: absolute;
    left: 45%;
    top: -3rem;
    transform: translateX(-50%);
    color: white;
    font-size: 4rem;
    margin: 6rem;
    text-shadow: 1px 1px 3px white;
}

.information li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;
    color: rgb(181, 167, 167);
    font-weight: 400;
    font-family: var(--font1-family);
    padding-top: 2rem;
}

.map {
    display: flex;
    max-width: 500px;
    height: auto;
    margin: 5rem 7rem 0 6rem;
    border: 1px solid black;
    box-shadow: 2px 2px 5px black;
}

.history {
    display: flex;
    flex-direction: row;
    width: auto;
    padding: 1rem;
    margin-top: 3rem;
    gap: 20px;
    color: black;
    background-color: var(--secondary-color);
}

.history h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    font-size: 40px;
    color: rgb(219, 209, 209);
}

.history .left-paragraph, .right-paragraph {
    flex: 1;
    text-align: justify;
    margin: 5rem 3rem 2rem 3rem;
    font-size: 20px;
    font-weight: 200;
    color: rgb(222, 214, 214);
}

.history img {
    width: 200px;
    height: auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
    border: 1px solid rgb(203, 196, 196);
}

.adventures {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-color);
    margin-top: 3rem;
    padding: 4rem 0 1rem 1rem;
}

.adventures h2 {
    position: absolute;
    left: 45%;
    top: -3rem;
    transform: translateX(-50%);
    color: rgb(209, 203, 203);
    font-size: 3rem;
    margin: 4rem;
}

.adventures figure {
    margin: 0;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 4.5rem;
}

.adventures figure img {
    max-width: 200px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 2px;
    border: 2px solid rgb(177, 171, 171);
    padding: 0;
}

.adventures figcaption {
    color: rgb(212, 206, 206);
    font-size: 15px;
    margin-bottom: 1rem;
}

.profiles {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
    padding: 4rem 0 1rem 1rem;
}

.profiles h2 {
    position: absolute;
    left: 45%;
    top: -3rem;
    transform: translateX(-50%);
    color: black;
    font-size: 3rem;
    margin: 4rem;
}

.profiles figure {
    margin: 0;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 4.5rem;
}

.profiles figure img {
    width: 300px;
    height: 500px;
    object-fit: cover;
    margin-bottom: 2px;
    padding: 0;
    border: 1px solid black;
    box-shadow: 3px 3px 5px black;
}

.profiles figure img:hover 

.profiles figcaption {
    color: white;
    font-size: 15px;
    margin-bottom: 1rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    align-items: start;
    width: 100%;
    margin: 0 auto;
    margin-top: 3rem;
}

.left-column img, .right-column img {
    flex-direction: column;
    width: 400px;
    height: 250px;
    padding: 0;
    margin-top: 2rem;
    border: 1px solid black;
    box-shadow: 3px 3px 6px rgb(49, 49, 49);
}

.left-column, .right-column {
    font-size: 1.3rem;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    color: black;
}

.left-column figcaption, .right-column figcaption {
    padding: .5rem 1rem 1rem .5rem;
}

.container form {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    width: 100%; 
    padding: 10px; 
    box-sizing: border-box; 
    background-color:rgb(0, 0, 0, 0.5);
    box-shadow: 3px 3px 5px rgb(49, 49, 49);

}

.container form fieldset {
    display: grid;
    position: relative;
    column-gap: .5rem;
    margin-top: 4px;
    color: black;
    font-size: 1.5rem;
    text-align: left;
    background-size: cover;
    background-position: center;
    padding-top: 5rem;
    width: 440px;
}

.fieldset .placeholder {
    font-family:var(--font2-family);
}

.container legend {
    position: absolute;
    top: .5rem;
    left: 8.5rem;
    display: flex;
    text-align: left;
    margin-top: 10px;
    width: auto;
    font-size: 3rem;
    font-weight: 600;
    color: black;
    white-space: nowrap;
}

.container form img.form image {
    width: 100%;
    height: auto;
    display: block;
    padding: 0;
}

.container label {
    color: black;
    font-size: 1.5rem;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: ;
    padding-right: 1rem;
}

.contact {
    display: grid;
    justify-content: center;
    align-items: center; 
    border: 1px solid black;
    box-shadow: 1px 1px 4px black;
}

.contact {
    width: 500px;
    margin: 0;
    padding: 0;
    border: 1px solid rgb(0 0 0 / 0.1); 
    border-radius: 0.5rem;
    background-color: #eee;
}

.contact fieldset {
    border: 1pxd solid rgb(0 0 0 / 0.2);
}

.contact fieldset {
    display: grid;
    grid-template-columns: auto 1fr; 
    align-items: center;
    margin: 1rem;
}

.contact legend {
    padding: 0.5rem;
    color: black;
    font-size: 1.3rem;
}

.contact label, input, button, select, textarea {
    font-size: 1rem;
}

.contact label {
    text-align: left;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="radio"] {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
    width: auto;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
}

input[type="message"] {
    width: 600px;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

input[type="checkbox"] {
    margin-right: 0.5rem;
}


input[type="submit"]{
    width: auto;
    background-color: var(--secondary-color);
    color: white;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: var(--primary-color);
}

footer {
    position: relative;
    display: flex; 
    justify-content: space-between; 
    padding: 20px;
    width: auto;
    background-color: var(--secondary-color);
    margin-top: 3rem;
    border: 1.5px solid black;
    transition: 0.3s ease;
}
    
footer p {
    color: rgb(190, 189, 207);
    text-align: center;
    font-size: 15px;
    font-family: var(--font1-family);
    font-weight: 400;
    margin-left: 35%;
    transition: 0.3s ease;
}

footer .sociallinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

footer .sociallinks a {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: cover;
    transition: transform 0.3s ease;
}

footer .sociallinks a:hover {
    transform: scale(1.5);
}

footer:hover {
    background-color: var(--primary-color);
}

footer p:hover {
    color: white;
}