:root {
    --primary-color: #3D348B;
    --secondary-color: #201C4A;
    --accent1-color: #BEEE62;
    --accent2-color: #066C31;
    --font1-family: "DM Serif Text", serif;
    --font2-family: "Flavors", cursive;
}

.background {
    background-size: cover;
    width: 100%;
    height: auto;
    border: 1px solid rgb(70, 69, 69);
    opacity: 0.6;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 20px;
    width: 100%;
    background-color: var(--secondary-color);
    transition: 0.3s ease;
    border: 1.5px solid rgb(101, 100, 100);
}

.flex-nav-box { 
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    align-items: center;
    width: 100%;
}
   
.flex-nav-box a {
    font-size: 3.5rem;
    font-family: var(--font2-family);
    font-weight: 500;
    color: white;
    padding: 2rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.flex-nav-box a {
    text-decoration: none;
}

header:hover {
    background-color: var(--primary-color);
}

.flex-nav-box a:hover {
    transform: scale(0.8);
    color: rgb(8, 8, 8);
}

.hero {
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 3rem;
    border: 1.5px solid rgb(113, 114, 113);
    box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.8);
}

h1 {
    position: absolute;
    top: 7rem;
    left: 0;
    right: 0;
    color: white;
    background-color: var(--primary-color);
    opacity: .8;
    font-size: 5rem;
    font-family: var(--font1-family);
    font-weight: 100;
    text-align: center;
    padding: 1.5rem;
}

.action, .grid-nav {
    position: absolute;
    top: 15rem;
    left: 5rem;
    right: 5rem;
    color: gray;
    background-color: rgba(30, 30, 83, 0.7);
    font-size: 4rem;
    transition: font-size 0.3s ease;
    font-family: var(--font1-family);
    font-weight: 100;
    text-align: center;
    padding: 3rem;
    isolation: isolate;
}

.action a, nav {
    color: white;
}

.action nav:hover {
    font-size: 7rem;
    color: blue;
}

article {
    position: absolute;
    top: 30rem;
    left: 8rem;
    right: 17rem;
    opacity: .8;
}

article img {
    float: right;
    max-width: 12rem;
    height: auto;
    margin: 2rem 1rem 0 3rem;
    padding: 3rem;
}

article p {
    color: white;
    font-size: 1rem;
    font-family: var(--font1-family);
    font-weight: 100;
    padding: 5rem;
    background-color: var(--secondary-color);
}

.descriptive-box {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.descriptive-box {}

.information {
    position: relative;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
}

.information {
    color: black;
    background-color: var(--primary-color);
    width: auto;
    margin-top: 3rem;
    border: 1.5px solid black;
    box-shadow: 2px 2px 5px black;
}

.information h2 {
    position: absolute;
    left: 45%;
    top: -3rem;
    transform: translateX(-50%);
    color: white;
    font-size: 4rem;
    margin: 6rem;
    text-shadow: 1px 1px 3px white;
}

.information li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.5rem;
    color: rgb(181, 167, 167);
    font-weight: 400;
    font-family: var(--font1-family);
    padding-top: 2rem;
}

.map {
    display: flex;
    max-width: 500px;
    height: auto;
    margin: 5rem 7rem 0 6rem;
    border: 1px solid black;
    box-shadow: 2px 2px 5px black;
}

.history {
    display: flex;
    flex-direction: row;
    width: auto;
    padding: 1rem;
    margin-top: 3rem;
    gap: 20px;
    color: black;
    background-color: var(--secondary-color);
}

.history h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    font-size: 40px;
    color: rgb(219, 209, 209);
}

.history .left-paragraph, .right-paragraph {
    flex: 1;
    text-align: justify;
    margin: 5rem 3rem 2rem 3rem;
    font-size: 20px;
    font-weight: 200;
    color: rgb(222, 214, 214);
}

.history img {
    width: 200px;
    height: auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
    border: 1px solid rgb(203, 196, 196);
}

.adventures {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-color);
    margin-top: 3rem;
    padding: 4rem 0 1rem 1rem;
}

.adventures h2 {
    position: absolute;
    left: 45%;
    top: -3rem;
    transform: translateX(-50%);
    color: rgb(209, 203, 203);
    font-size: 3rem;
    margin: 4rem;
}

.adventures figure {
    margin: 0;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 4.5rem;
}

.adventures figure img {
    max-width: 200px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 2px;
    border: 2px solid rgb(177, 171, 171);
    padding: 0;
}

.adventures figcaption {
    color: rgb(212, 206, 206);
    font-size: 15px;
    margin-bottom: 1rem;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  
  caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }
  
  thead,
  tfoot {
    background-color: rgb(228 240 245);
  }
  
  th,
  td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
  }
  
  td:last-of-type {
    text-align: center;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
  }
  
  tfoot th {
    text-align: right;
  }
  
  tfoot td {
    font-weight: bold;
  }

.profiles {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
    padding: 4rem 0 1rem 1rem;
}

.profiles h2 {
    position: absolute;
    left: 45%;
    top: -3rem;
    transform: translateX(-50%);
    color: black;
    font-size: 3rem;
    margin: 4rem;
}

.profiles figure {
    margin: 0;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 4.5rem;
}

.profiles figure img {
    width: 300px;
    height: 500px;
    object-fit: cover;
    margin-bottom: 2px;
    padding: 0;
    border: 1px solid black;
    box-shadow: 3px 3px 5px black;
}

.profiles figure img:hover 

.profiles figcaption {
    color: white;
    font-size: 15px;
    margin-bottom: 1rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    align-items: start;
    width: 100%;
    margin: 0 auto;
    margin-top: 3rem;
}

.left-column img, .right-column img {
    flex-direction: column;
    width: 400px;
    height: auto;
    padding: 0;
    margin: 2rem;
    border: 1px solid black;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
}

.left-column, .right-column {
    font-size: 1.5rem;
    font-weight: 300;
    justify-content: center;
    align-items: center;
}

.left-column figcaption, .right-column figcaption {
    padding-left: 2rem;
    padding-right: 2rem;
}

.center-column {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 700px;
}

.container form {
    display: grid;
    grid-column: 2;
    justify-content: center;
    width: 500px;
    height: auto;
    background-color: black;
    color: black;
    box-sizing: border-box;
    margin-top: 1rem;
    padding: 1rem;
    align-items: center;
}

.container form {
    background-color: rgba(30, 30, 83, 0.2);
    color: black;
    border: 1px solid black;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
}

.container form fieldset {
    display: grid;
    position: relative;
    column-gap: .5rem;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 1.5rem;
    text-align: center;
    background-size: cover;
    background-position: center;
    border: none;
}

.container legend {
    position: absolute;
    top: 6rem;
    left: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: -1rem;
    width: auto;
    font-size: 3rem;
    font-weight: 600;
    color: black;
    margin: 0;
}

.container img.form-image {
    width: 100%;
    height: auto;
    display: block;
    padding: 1rem;
}

.container label {
    color: black;
    font-size: 1.5rem;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: left;
    padding-right: 1rem;
}

.contact {
    display: grid;
    justify-content: center;
    align-items: center; 
    border: 1px solid black;
    box-shadow: 1px 1px 4px black;
}

.contact {
    width: 500px;
    margin: 0;
    padding: 0;
    border: 1px solid rgb(0 0 0 / 0.1); 
    border-radius: 0.5rem;
    background-color: #eee;
}

.contact fieldset {
    border: 1pxd solid rgb(0 0 0 / 0.2);
}

.contact fieldset {
    display: grid;
    grid-template-columns: auto 1fr; 
    align-items: center;
    margin: 1rem;
}

.contact legend {
    padding: 0.5rem;
    color: black;
    font-size: 1.3rem;
}

.contact label, input, button, select, textarea {
    font-size: 1rem;
}

.contact label {
    text-align: left;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="radio"] {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
    width: auto;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
}

input[type="message"] {
    width: 600px;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

input[type="checkbox"] {
    margin-right: 0.5rem;
}


input[type="submit"]{
    width: auto;
    background-color: var(--secondary-color);
    color: white;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: var(--primary-color);
}

footer {
    position: relative;
    display: flex; 
    justify-content: space-between; 
    padding: 20px;
    width: auto;
    background-color: var(--secondary-color);
    margin-top: 3rem;
    border: 1.5px solid black;
    transition: 0.3s ease;
}
    
footer p {
    color: rgb(190, 189, 207);
    text-align: center;
    font-size: 15px;
    font-family: var(--font1-family);
    font-weight: 400;
    margin-left: 35%;
    transition: 0.3s ease;
}

footer .sociallinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

footer .sociallinks a {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: cover;
    transition: transform 0.3s ease;
}

footer .sociallinks a:hover {
    transform: scale(1.5);
}

footer:hover {
    background-color: var(--primary-color);
}

footer p:hover {
    color: white;
}