nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main p {
    padding: 2rem;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    padding: 2px;
    border: 1px solid black;
    box-shadow: 0 0 30px gray; 
    margin: 10px 30px
}

aside {
    width:auto;
    margin:2rem;;
    border:1px solid black;
    padding:1rem;
    background-color:hsla(200,0%,0%,.7);
    color:white;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 3rem;
    border-top: 1.5px solid black;
    text-align: center;
}