header, .grid, footer {
    max-width: 8vm;
    margin: 0 auto;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vw;
    border: .3vw solid black;
    background: steelblue;
    font-size: 2.5vw;
  }

.nav a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
    color: white;
    padding: 10rem;
}

h1 {
    color: rgb(129, 16, 129);
    padding: 3rem;
    position: ;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
    position: relative;
}

main img {
    width: 150px;
    height: auto;
    border: .5px solid rgb(10, 10, 10);
    padding: 1px;
    box-shadow: 0 0 30px rgb(149, 134, 155);    display: flex;
    float: right;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    box-shadow: 0 0 30px rgb(149, 134, 155);
    float: right;
    margin: 0 0 2rem 2rem;
}

aside {
    width: 20em;
   text-align: center;
   position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 25px;
    left: 115px;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/* class selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(139, 124, 139);
    padding: 1.5em;
    background-color: #c1bbc7;
    color: #000;
}

