* {         
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-align: center;
    --color: darkblue;
    --border: solid black;
    --font-size: 1rem;
}

nav {
    background-color: var(--color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--color);
}

main{
    max-width: 840px;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    padding: 2px;
    border: 1px var(--border);
    box-shadow: 0 0 30px gray; 
    margin: 10px 30px
}

aside {
    position: relative;
    width:auto;
    margin:2rem;;
    border:1px var(--border);
    padding: var(--font-size);
    background-color: black;
    color:white;
    text-align: var(--text-align);
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: .2rem;
    color:white;
}

p {
    padding: 0;
}

footer {
    margin-top: 3rem;
    border-top: 1.5px var(--border);
    text-align: var(--text-align);
}

/*Class Selectors*/
.box {
    margin: var(--font-size);
    border: 1px solid rgb(0 0 0 / 10%);
    padding: var(--font-size);
    background-color: rgb(205, 195, 240);
    color:  black;
}